<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"
        default-autowire="byType">
        
	<import resource="classpath:connectionDB.xml"/>
	<import resource="classpath:test.xml"/>
	<context:component-scan base-package="com.tim.spring"/>
	<aop:aspectj-autoproxy/>
	
	<bean id="config" class="com.tim.spring.common.config.Config"></bean>
    
    <alias name="myFileAlterationMonitor2" alias="myFileAlterationMonitor3"/>
	<bean id="myFileAlterationMonitor2" parent="myFileAlterationMonitor">
    	<property name="fileWatchfilter" ref="watchedPhotoFilter"/>
    	<property name="watchedPath" value="E:\tianwei\imageTest"></property>
    </bean>
    
    <bean id="watchedPhotoFilter" class="com.tim.spring.common.filter.WatchedPhotoFilter"></bean>
    
	<bean id="userDao" class="com.tim.spring.dao.impl.UserDaoImpl">
		<property name="commonDAO" ref="commonDAO"></property>
	</bean>
	
	<bean id="userService" class="com.tim.spring.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="deviceService" class="com.tim.spring.service.device.DeviceService">
		<property name="deviceResolver">
			<bean class="org.springframework.mobile.device.LiteDeviceResolver"/>
		</property>
	</bean>
	
    	<!-- 上传文件 -->
    	<!--这个bean 会被filter【MultipartFilter】读取 ，这个filter里写死了resolver的名字，一定要叫filterMultipartResolver，
    		否则需要覆盖MultipartFilter，然后修改他的getMultipartResolverBeanName方法。
    		读取这个bean时，会从webApplicationContext中取，所以，一定要放在这里。如果放在springmvc中，会找不到。
    		如果没有这个resolver他会创建一个默认的resolver,那个只能上传最大2M的文件。
    	-->
	<bean id="filterMultipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" /> <!-- 默认编码 (ISO-8859-1) -->
		<property name="maxInMemorySize" value="-1" /> <!-- 最大内存大小 (10240) -->
		<!-- <property name="uploadTempDir" value="/upload/" /> --> <!-- 上传后的目录名 (WebUtils#TEMP_DIR_CONTEXT_ATTRIBUTE) -->
		<property name="maxUploadSize" value="-1" /> <!-- 最大文件大小，-1为无限止(-1) -->
		<property name="maxUploadSizePerFile" value="-1"></property>
	</bean>
	
	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
</beans>